<html>
<head>
  <title>Challenger // Coding Challenges</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

  <header>
    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/challenges">Challenges</a></li>
          <li><a href="/challenges/new">Post a Challenge</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="main">
    <div class="container">
      <%= content %>
    </div>
  </section>

  <script src="/js/main.js"></script>
</body>
</html>
